body {
  background-image: url('https://wallpapers.com/images/high/cartoon-space-36icwgmm6zqk6jni.webp');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.app-header {
  position: fixed;
  top: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  padding: 1rem 2rem;
  color: #f0f3f6;
  text-align: center;
  z-index: 10;
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto; 
}

.app-header h1 {
  font-size: 3rem; 
  margin: 0;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-weight: bold;
}

/* Buttons for Characters and Episodes */
.image-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px; /* Adjusts spacing between images */
  width: 100vw; /* width of viewport */
  height: 100vh; /* Height of viewport */
  position: fixed; /* Puts container in the center of the viewport */
  top: 0;
  left: 0;
}

.image-button {
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 12px;
  transition: transform 0.2s;
}

.image-button:hover {
  transform: scale(1.05);
}

/* conatiners for Character and Episode */
.character-container, .episode-container {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.character-container h2, .episode-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

/* styling for Characters and Episodes */
.character-list, .episode-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Styling for Characters and Episodes Cards*/
.character-card, .episode-card {
  width: 180px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.character-image {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
