/* body {
  background-image: url('https://wallpapers.com/images/high/cartoon-space-36icwgmm6zqk6jni.webp');
  background-size: auto; 
  background-position: center; 
  background-repeat: no-repeat; 
} 

.app-header {
  text-align: center;
  padding: 2rem 0;
  background-color: #1c1e22; 
  color: #ebf0f1; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.app-header h1 {
  font-size: 3rem; 
  margin: 0;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.character-list, .episode-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.character-card, .episode-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.character-card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.character-card {
  background-color: #29cfe8; 
  border: 1px solid #444;    
  border-radius: 10px;       
  padding: 1rem;             
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: #ffffff;            
  text-align: center;        
  width: 200px;              
  margin: 1rem;              
}

.episode-card {
  background-color: #29cfe8; 
  border: 1px solid #444;    
  border-radius: 10px;       
  padding: 1rem;             
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  color: #ffffff;            
  text-align: center;        
  width: 200px;              
  margin: 1rem;              
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.character-card {
  text-align: center;
  width: 100px;
}

.character-card img {
  width: 100%;
  border-radius: 50%;
} */

body {
  background-image: url('https://wallpapers.com/images/high/cartoon-space-36icwgmm6zqk6jni.webp');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.app-header {
  text-align: center;
  padding: 2rem 0;
  background-color: #1c1e22; 
  color: #ebf0f1; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.app-header h1 {
  font-size: 3rem; 
  margin: 0;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  font-weight: bold;
}

h2 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.character-list, .episode-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.character-card, .episode-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #29cfe8; 
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  color: #ffffff;
  margin: 1rem;
}

.character-card img, .character-image {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
